<!DOCTYPE html>
<html>

<head>
    <title>
        Main Page
    </title>
    <link rel='stylesheet' href='/stylesheets/mainstyle.css' />
</head>

<body>
    <div class="container">
        <div class="top">
            <a href="/">A Talk</a>
        </div>
    </div>
</body>

</html>